// Reboot Variables
$white: #fff !default;
$grau: #EBEBEB;
$grau2: #F4F4F4;

$primary: #000;
$secondary: #C79A20 !default;
$light: rgba($primary, .5) !default;
$dark: $primary !default;

$border-color: $primary !default;
$nav-tabs-border-color: $primary !default;

$font-family-base: "Lato", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-base: 1rem !default;
$font-weight-base: normal;
$line-height-base: 1.5 !default;
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;
$headings-line-height:  1.35 !default;
$enable-responsive-font-sizes: true;

$body-bg: $white !default;
$body-color: $primary !default;

$dt-font-weight: bold !default;

$small-font-size: 90% !default;

$link-color: $secondary;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$table-cell-padding: .75rem !default;

$navbar-light-color:                $primary;
$navbar-light-hover-color:          $secondary;
$navbar-light-active-color:         $secondary;
$navbar-light-disabled-color:       rgba($primary, .3) !default;
$navbar-light-toggler-border-color: rgba($primary, .1) !default;

$navbar-nav-link-padding-x:         0rem !default;



$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$h1-font-size:                $font-size-base * 1.75 !default;
$h2-font-size:                $font-size-base * 1 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1 !default;
$h5-font-size:                $font-size-base * 1 !default;
$h6-font-size:                $font-size-base !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
	7: ($spacer * 7),
	8: ($spacer * 9),
  ),
  $spacers
);


// Bootstrap 4 breakpoints & gutter
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 2,
    lg: 3,
    xl: 3
);

$inhaber-cards-per-line: (
    xs: 1,
    sm: 2,
    md: 3,
    lg: 3,
    xl: 3
);

@each $name, $breakpoint in $grid-breakpoints {
	@media (min-width: $breakpoint) {
		.card-deck .card {
			flex: 0 0 calc(#{75/map-get($cards-per-line, $name)}% - #{$grid-gutter-width}) !important;
		}
		.card-deck.inhaber .card {
			flex: 0 0 calc(#{100/map-get($inhaber-cards-per-line, $name)}% - #{$grid-gutter-width}) !important;
		}
	}
}