.home{
	.site-content{
		min-height: 600px;
	}

	.aside{
		background-color: rgba(#111525, 0.7);
		color: $white;

		.einleitung{			
			font-size: 1.375rem;
			line-height: 1.3;

			em{
				color: $secondary;
			}
		}

		.aktuelles{

			position: absolute;
			width: 90%;
			bottom: 1.875rem;
			font-size: 0.875rem;

			h2{
				font-weight: 700;
			}

			.items{
				border-top: 0.0625rem solid $white; 
				
				p{
					width: 90%;
				}
			}
			
			strong{
				font-weight: 700;
				color: $secondary
			}
		}
	}

	
}

.page-template-galerie{
	.einleitung{
		font-size: 1.125rem;
		
		h2{
			font-size: 1.5rem;
			font-style: italic;
			margin: 0;
		}


		p{
			font-weight: 300;
		}

		a{
			border-bottom: 1px solid;	
			padding-bottom: 2px;
			
			&:hover{
				text-decoration: none;
			}
		}
	}

	.austellung{
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-weight: 700;
		font-size: 0.875rem;

		dt{
			border-top: 0.0625rem solid;
			padding-top: 0.625rem;
			margin-top: 0.625rem;
		}

		dd{
			font-weight: 400;
		}
		
	}

	.galerie{
		.item{
			position: relative;
			width: 100%;		/* desired width */			
			height: 100%;
			background-color: $grau2;

			&:hover{
				background-color: rgba($white, 0.9);			
			}

			&:hover img{
				opacity: 0.1;
			}			

			&:before {
				content: "";
				float: left;
				padding-top: 100%; 	/* initial ratio of 1:1*/
			}

			.item-content{				
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				&:hover:before{
					content: '+';		
					position: absolute;
					font-size: 60px;
					font-weight: 300;	
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);				
				}

				& a:nth-of-type(n+2){
					display: none;
				}

				img{
					width: auto;
					height: auto;
					max-height: 260px;	
					max-width: 260px;
					
					@media (min-width: 552px){
						max-height: 180px;	
						max-width: 180px;		
					}

					@media (min-width: 992px){
						max-height: 210px;	
						max-width: 210px;		
					}
				
				}
				
			}			

		}
		

		.subtitel{
			font-size: 14px;
			text-align: center;
			width: 80%;
			margin: auto;
		}
	}

	#fancybox-wrap{

		@media (min-width: 552px){
			transform: scale(0.9);	
		}

		@media (min-width: 1200px){
			transform: none;		
		}
		
	}

	#fancybox-content{
		border: none;
		box-shadow: 0px 3px 6px 0px rgba($primary,0.27);
	}

	#fancybox-close{
		background: url(assets/images/close.svg);
		background-size: cover;
		width: 1.4375rem;
		height: 1.4375rem;
		top: -4.6875rem;
		right: -3.625rem;	
		

		@media (min-width: 552px){				
			top: 0.3125rem;
			right: -6.25rem;			
		}	
	}

	#fancybox-title{
		font-family: $font-family-base;
		font-size: 0.875rem;
		font-weight: 300;
		color: $primary;
		text-align: center;
	}	

	#fancybox-bg-n,
	#fancybox-bg-ne,
	#fancybox-bg-e,
	#fancybox-bg-se,
	#fancybox-bg-s,
	#fancybox-bg-sw,
	#fancybox-bg-w,
	#fancybox-bg-nw{
		display:none;
	}

	#fancybox-right-ico{
		background-image: url(assets/images/arrow_right.svg);
		background-position: center;
		background-repeat: no-repeat;
		width: 25px;
		height: 25px;
	}

	#fancybox-right{
		right: -80px;
		visibility: visible;

		@media (min-width: 552px){				
			right: -130px;		
		}	
		
		span{
			left: auto;
			right: 10px;

			@media (min-width: 552px){				
				right: 20px;	
			}	
		}
	}

	#fancybox-left-ico{
		background-image: url(assets/images/arrow_left.svg);
		background-position: center;
		background-repeat: no-repeat;
		width: 25px;
		height: 25px;
	}

	#fancybox-left{
		left: -40px;
		visibility: visible;

		@media (min-width: 552px){				
			left: -80px;	
		}	

		span{
			left: 6px;

			@media (min-width: 552px){				
				left: 20px;	
			}	
		}
	}
}



.page-template-person{

	.about{
		background-color: rgba($white, 0.69);
		font-size: 1.125rem;

		img{
			width: 100%;
			height: auto;
		}

		strong{
			font-style: italic;
			font-weight: 900;
		}

	}

	.kontakt{
		background-color: rgba(#505763, 0.39);
		font-size: 1.375rem;
		color: $white;		
		
		h2{
			font-size: 1.5rem;
			font-weight: 900;
			mix-blend-mode: normal;
		}

		a{
			color: #F0CA61;
			font-weight: 600;
		}

	}

}


.page-template-two-columns{

	font-size: 14px;
	

	p{
		font-weight: 300;
	}

	strong{
		font-weight: 400;
	}

	h2{
		font-size: 1.75rem;
		font-weight: 300;
	}

	h3{
		font-size: 1.35rem;
		font-weight: 400;
	}

	h4{
		font-size: 1.1rem;
		font-weight: 300;
	}




}