footer{
	position: relative;
	

	.site-info{
		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: grid;
			grid-template-rows: 1fr 1fr;

			li:nth-child(1){
				grid-column: 1 / 3;				
				text-align: center;
			}
			
			li:nth-child(3){				
				grid-row: 2;
			}

			li:nth-child(2){
				grid-row: 2;
				text-align: right;
			}
			
			li:nth-child(3){
				grid-row: 2;
				text-align: left;
			}

			li:last-child:before{
				content: '|';
				display: inline-block;
				padding: 0 20px;			
			}


			@media (min-width: 576px){
				display: flex;

				li:not(:first-child):before{
					content: '|';
					display: inline-block;
					padding: 0 20px;			
				}
			}

			


		}

		font-size: 0.75rem;

		a{
			font-size: 0.75rem;
			color: $primary;
		}
	}
}