html,body{
	width: 100%;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $grau;
}

body.home{
	background-position: center center;
	background-size: auto;
	background-repeat: no-repeat;

	@media (min-width: 552px){
		background-size: cover;			
	}
}

body.page-template-person{
	background-image: url(assets/images/person_bg.jpg);
	background-position: center center;
	background-size: auto;	

	@media (min-width: 552px){
		background-size: cover;			
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.65rem;   
    line-height: 1.2;
}

.site{
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	grid-template-columns: 1fr;
	height: 100%;
}

.site > *:nth-child(1){	
	-ms-grid-row: 1;	
	-ms-grid-column: 1;
}
.site > *:nth-child(2){	
	-ms-grid-row: 2;	
	-ms-grid-column: 1;
}
.site > *:nth-child(3){	
	-ms-grid-row: 3;	
	-ms-grid-column: 1;
}

ul{
	padding-left: 0.8rem;
}

p{
	font-weight: $font-weight-normal; 
	margin-bottom: 1.3rem; 
}

.heavy{
    font-weight: 900;
}

strong{
	font-weight: 700;
}

.red{
	color: $red;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: white;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}