.header-wrp{
	position: relative;
	
}

header{
	.logo{
		background-image: url('assets/images/majawallmann_logo.svg');
		width: 100%;
		height: 13vw;
		background-repeat: no-repeat;
		background-size: contain;

		@media (min-width: 552px){
			width: 215px;
			height: 50px;
		}

		a{
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
}