.main-navigation {
	
	align-self: center;	
	background-color: $grau2;
	z-index: 100;

	@media (min-width: 552px){
		background-color: inherit;
	}

	ul{		
		list-style-type: none;
		margin:0;
		padding-left: 0;
		justify-content: flex-end;

		@media (min-width: 552px){
			padding-left: inherit;			
		}

		li{
			margin-left: 0;
			margin-bottom: 15px;					


			@media (min-width: 552px){				
				margin-left: 1.025rem;	
				margin-bottom: 0px;								
			}	
			
			@media (min-width: 992px){				
				margin-left: 3.125rem;
				margin-bottom: 0px;				
			}	
		}
		

		a{
			font-size: 1.25rem;
			color: $primary;
			font-weight: 300;	
			border-bottom: 0.0625rem solid;	
			padding-bottom: 0.25rem;	
			display: inline-block;
			width: 35%;	
			text-decoration: none;
			
			@media (min-width: 552px){
				border-bottom: 0;
				padding-bottom: 0;
				display: inline;
				width: 100%;	
			}

			&:hover{
				color: $secondary;
			}
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current-page-ancestor > a,
		.current-menu-ancestor > a {
			font-weight: 600;
		}		

		.menu-item-has-children:hover .sub-menu{
			

			@media (min-width: 552px){
				display: flex;
			}
		}

		.sub-menu{			

			padding-top: 20px;
			padding-bottom: 10px;

			@media (min-width: 552px){
				position: absolute;
				display: none;
				flex-direction: column;
				padding-left: 0;
				background: $white;
				padding: 60px 30px 10px 20px;
				margin-left: -20px;		
				z-index: 100;				
			}

			li{
				margin-left: 0;
				margin-bottom: 10px;
			}

			a{
				font-size: 1rem;
				font-weight: 300;
				border-bottom: 0;
				padding-bottom: 0;
				text-decoration: none;
			}

			.current_page_item a{
				border-bottom: 1px solid;
				padding-bottom: 3px;
			}
		}

	}

	button{
		position: absolute;
		top: -60px;
		right: 10px;
	}

	
}


.menu-main-container{
	display: none;
}

nav.toggled .menu-main-container{
	display: block;
}

@media (min-width: 552px){
	.menu-toggle {
		display: none;
	}

	.main-navigation ul{
		display: flex;
	}

	.menu-main-container{
		display: block;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
